.containernav {
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

a {
    text-decoration: none;
    margin-right: 5%;
    color: inherit;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 870px;
    flex-wrap: wrap;
    border: none;
}

input {
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(214, 214, 214);
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
    height: 7%;
    border-radius: 40px;
    margin-right: 10px;
    width: 35%;
    margin-bottom: 0.8%;
    font-size: 20px;
    padding-left: 16px;
}

input:focus,
input:hover {
    outline: 0;
    box-shadow: 0px 0px 1.3px 0px rgba(0, 0, 0, 0.55);

}

input[type="submit"] {
    width: 22%;
    height: 7%;


}

@media (max-width: 976px) {
    .form {
        height: 600px;
    }
}